@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --logo-trans-speed: 1s ease-in-out;
    --social-logo-opacity: 0.6;
    --menu-header-background: transparent;
    --document-width: 1100px;
    --theme-background: linear-gradient(to right, #0909ad, #05b8db);
    --menu-color: #01014b;
    color: #777;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.overflow{
    position: relative;
    overflow-x: hidden;
}
::selection{
    background-color: #01014b;
    color: white;
}
.main-container-technologies{
    background-color: #f7f7f7;
    width: 100%;
}
#particles-js{
    background-image: var(--theme-background);
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    width: 100%;
    position: relative;
    margin-bottom: -5vw;
}
a{
    text-decoration: none;
}
#z-index{
    z-index: 2;
}
.header{
    z-index: 1;
    height: 100px;
    width: 100%;
    position: absolute;
}
.fixed{
    position: fixed;
    animation: opacity_show .3s linear;
    background-color:var(--theme-background);
    box-shadow: 0px 3px 18px 0px #000000;
}
@keyframes opacity_show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.main-header{
    background-color: var(--menu-header-background);
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.small-header{
    height: 50px;
}
.header-container-img{
    height: inherit;
    padding: 10px;
}
li{
    list-style-type: none;
}
header .header-container-img:hover{
    transform: scale(1.1);
}
header .header-container-img{
    transition: transform 0.3s ease-in-out;
}
#rotate-logo{
    transition: transform 1s ease-in-out;
}
#rotate-logo:hover{
    transform: rotate(360deg);
}
.header-container{
    max-width: var(--document-width);
    margin: auto;
    height: inherit;
}
.navigation{
    float: right;
    height: inherit;
}
.navigation a{
    height: inherit;
    display: table;
    float: left;
    padding: 0 20px;
    font-size: 18px;
}
header .navigation a li{
    display: table-cell;
    vertical-align: middle;
    color: var(--menu-color);
    text-transform: uppercase;
    height: inherit;
}
.social{
    border-radius: 50%;
    transition: all .2s ease-in-out;
    height: 80%;
    display: block;
}
.social:hover{
    transform: scale(1.2);
}
.small-header a{
    padding: 0 7px;
}
#stack:hover{
    background-color: rgba(243, 122, 32, var(--social-logo-opacity));
}
#git:hover{
    background-color: rgba(51, 153, 255, var(--social-logo-opacity));
}
#phone:hover{
    background-color: rgba(63, 127, 0, var(--social-logo-opacity));
}
#mail:hover{
    background-color: rgba(255, 200, 41, var(--social-logo-opacity));
}
#link:hover{
    background-color: rgba(215, 187, 135, var(--social-logo-opacity));
}
.social-title{
    position: relative;
    display: inline-block;
}
.social-title .social-title-text{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    text-transform: none;
    font-size: 13px;
    z-index: 4;
    opacity: 0;
    transition: all .3s linear;
    font-family: sans-serif;
    width: 120px;
}
.bottom-tooltip{
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.left-tooltip{
    top: 25%;
    right: 105%;
}
.social-title:hover .social-title-text{
    visibility: visible;
    opacity: 1;
}
#main-menu li{
    transition: color .3s ease-in-out;
}
#main-menu li:hover{
    color: white;
}
#main-menu a{
    position: relative;
}
#main-menu li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform .25s;
}
#main-menu li:hover::after{
    transform: translateX(-50%) scaleX(1);
}
.technologies{
    max-width: var(--document-width);
    margin: auto;
    padding: 6vw 2vw 2vw 2vw;
}
.technologies .flex-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}
.technologies .flex-heading .technologies-heading{
    background: var(--theme-background);
   -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
    line-height: 45px;
    font-size: 27px;
    transition: transform .1s linear;
    display: inline-block;
}
.technologies .flex-heading .technologies-heading:hover{
    transform: skew(2deg, 1deg);
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.menu-btn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    transition: all .5s ease-in-out;
    float: right;
    padding-right: 20px;
}
.menu-btn-burger{
    width: 50px;
    height: 6px;
    background: var(--menu-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before, 
.menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--menu-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
    transform: translateY(-16px);
}
.menu-btn-burger::after{
    transform: translateY(16px);
}
/* animation for burger menu */
.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
@media only screen and (max-width: 957px){
    #main-menu a{
        display: none;
    }
    #main-menu{
        display: grid;
        place-items: center;
    }
    .menu-btn{
        display: flex;
    }
}
@media only screen and (max-width: 340px){
    #email{
        display: none;
    }
}
@media only screen and (max-width: 933px){
    .about-me-grid{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.side-menu{
    position: absolute;
    z-index: 2;
    right: 0;
    transform: translateX(100%);
    background: transparent;
    transition: all .5s ease-in-out;
    margin: 3px 3px 0 0;
}
.side-menu li{
    text-transform: uppercase;
    color: var(--menu-color);
    padding: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.side-menu-li-background{
    background: var(--menu-header-background);
}
.side-menu li:hover{
    color: white;
}
.side-menu-open{
    transform: translateX(0%);
}
.fade {
    opacity: 0;
}
.about-me-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-section{
    text-align: center;
    padding: 13px;
}
.about-me-section-img{
    filter: drop-shadow(5px 10px 18px #888888);
    position: relative;
    z-index: 999;
}
.about-me-grid img{
    width: 100%;
    clip-path: ellipse(48% 50% at 50% 50%);
}
.about-me-section h2{
    margin-bottom: 17px;
}
.about-me-section p{
    line-height: 29px;
    margin: 35px 0;
}
.about-me-grid table{
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
}
.about-me-grid th, td {
    border-bottom: 1px solid var(--menu-color);
    padding: 10px 0;
}
th{
    text-align: center;
}
.about-me-section table td:first-child{
    padding-right: 10px;
}
.about-me-section table a{
    color: rgb(2, 199, 2);
}
#jump-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateY(100px);
    transition: all .4s ease-in-out;
}
#jump-to-top img{
    height: 70px;
    width: 70px;
    padding: 5px;
}
.carousel{
    height: 500px;
    background-image: var(--theme-background);
}